
.animal{
    /* width: 300px;
    height: 500px; */
    text-align: center;
    padding: 160px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 20px 30px;
    /* background-color: rgba(197, 171, 175, 0.402);  */
     
}
h2{
    padding-bottom: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 10px red;

   
}
 body{
     background-image: url(./img/moon.gif);
    background-size: cover;
    background-repeat: no-repeat;
} 
input{
    padding: 5px;
    border: none;
    border-radius: 10px ;
    width: 200px;
    text-align: center;
    
    box-shadow: 0px 0px 5px red inset; 
} 
.button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: larger;
    width: 150px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 10px red inset;
}

